<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css"
      rel="stylesheet"
    />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500;600&family=Roboto+Condensed:wght@400;700&display=swap');
      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Alkatra', cursive;
font-family: 'Roboto Condensed', sans-serif;
      }
    </style>
    <title>Document</title>
  </head>
  <body
    class="flex w-full h-100vh justify-center items-start"
    style="
      height: 100vh;
      background-image: linear-gradient(
        to right top,
        #1a11e7,
        #a300be,
        #d30094,
        #e9006e,
        #ef0050,
        #f00050,
        #f20051,
        #f30051,
        #f00070,
        #df0095,
        #b900bf,
        #6c0de7
      );
    "
  >
    <div
      class="relative overflow-x-auto w-8/12 shadow-md mt-5 sm:rounded"
      style="
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(1.5px);
        -webkit-backdrop-filter: blur(1.5px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
      "
    >
      <div class="flex items-center justify-between p-5">
        <div class="text-xl font-bold text-white">users</div>
        <div class="flex justify-end space-x-4">
          <div class="relative">
            <input
              type="text"
              id="table-search-users"
              name="table-search-users"
              class="block p-2 pl-10 text-base font-bold text-white placeholder-white border-3 border-white rounded w-80 bg-transparent"
              placeholder="Search for users"
            />
          </div>
          <button
            type="button"
            class="flex items-center text-white border-3 border-gray-600 px-3 h-13"
            data-modal-target="defaultModal"
            data-modal-toggle="defaultModal"
          >
            Add user
          </button>
        </div>
      </div>
      <table
        class="w-full text-sm text-left border-t-2 border-white text-white"
      >
        <thead class="text-xs text-gray-700 uppercase">
          <tr>
            <th scope="col" class="text-white font-bold p-3">first name</th>
            <th scope="col" class="text-white font-bold p-3">last name</th>
            <th scope="col" class="text-white font-bold p-3">email</th>
            <th scope="col" class="text-white font-bold p-3">phone</th>
            <th scope="col" class="text-white font-bold p-3">userName</th>
            <th scope="col" class="text-white font-bold p-3">company</th>
            <th scope="col" class="text-white font-bold p-3 px-6">edit</th>
            <th scope="col" class="text-white font-bold p-3 px-6">delete</th>
          </tr>
        </thead>
        <tbody>
          <% databaseInfo.forEach(user => { %>
          <tr>
            <td class="p-3">
              <div class="text-base text-white font-bold">
                <%- (user.first_name) %>
              </div>
            </td>
            <td class="p-3"><%- user.last_name %></td>
            <td class="p-3"><%- user.email %></td>
            <td class="p-3"><%- user.phone %></td>
            <td class="p-3"><%- user.userName %></td>
            <td class="p-3"><%- user.company %></td>
            <td class="p-3">
              <button
                class="font-bold border-2 bg-indigo-600 px-4 py-2 rounded-full text-white"
              >
                Edit user
              </button>
            </td>
            <td class="p-3">
              <button
                class="fontbold border-2 bg-red-600 px-4 py-2 rounded-full text-white"
              >
                delete user
              </button>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>

    <!-- Modal toggle -->

    <!-- Main modal -->
    <div
      id="defaultModal"
      name="defaultModal"
      tabindex="-1"
      aria-hidden="true"
      class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full"
    >
      <div class="relative w-full h-full max-w-2xl md:h-auto">
        <!-- Modal content -->

        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <!-- Modal header -->
          <div
            class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600"
          >
            <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
              add user
            </h3>
            <button
              type="button"
              class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
              data-modal-hide="staticModal"
            >
              <svg
                class="w-5 h-5"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </button>
          </div>
          <form class="p-6 space-y-6" action="/add-user" method="post">
            <div class="grid gap-6 mb-6 md:grid-cols-2">
              <div>
                <label
                  for="first_name"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >First name</label
                >
                <input
                  type="text"
                  id="first_name"
                  name="first_name"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-b-2 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-b-2 dark:focus:border-blue-500"
                  placeholder="John"
                  required
                />
              </div>
              <div>
                <label
                  for="last_name"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Last name</label
                >
                <input
                  type="text"
                  id="last_name"
                  name="last_name"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-b-2 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-b-2 dark:focus:border-blue-500"
                  placeholder="Doe"
                  required
                />
              </div>
              <div>
                <label
                  for="company"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Company</label
                >
                <input
                  type="text"
                  id="company"
                  name="company"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-b-2 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-b-2 dark:focus:border-blue-500"
                  placeholder="Flowbite"
                  required
                />
              </div>
              <div>
                <label
                  for="phone"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Phone number</label
                >
                <input
                  type="tel"
                  id="phone"
                  name="phone"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-b-2 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-b-2 dark:focus:border-blue-500"
                  placeholder="123-45-678"
                  pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"
                  required
                />
              </div>
            </div>
            <div class="mb-6">
              <label
                for="email"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Email address</label
              >
              <input
                type="email"
                id="email"
                name="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-b-2 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-b-2 dark:focus:border-blue-500"
                placeholder="john.doe@company.com"
                required
              />
            </div>
            <div class="mb-6">
              <label
                for="password"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Password</label
              >
              <input
                type="password"
                id="password"
                name="password"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-b-2 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-b-2 dark:focus:border-blue-500"
                placeholder="•••••••••"
                required
              />
            </div>

            <button
              type="submit"
              class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
